<section id="about">
    <h1> About </h1>
    <section id="profile">
        <ul>
            <h1> Profile </h1> <!-- Problem? -->
            <li>  </li>
            <li><span> Fullname: </span><b> Jakub Ruminski </b></li>
            <li><span> Date of Birth: </span><b> 21<sup>st</sup> of February 2000 </b></li>
            <li><span> Email: </span><b> jakubruminski09[at]gmail.com </b></li>
        </ul>
    </section>
    <section id="prog_overview">
        <h1> Programming Overview </h1>
        <p> I'm an independent teamworker, strong in researching/preparing for assignments and exams. I enjoy all areas of computer science. Below is a breakdown of my technical skills, and achievements:</p>
        
        <h1> Programming Languages<span> (based on college grade or online course.) </span></h1>
        <ul id="prog_languages">
            <li>
                <label for="java"> Java: </label>
                <progress class="progress_bar" id="java" value="81" max="100" data-label="81%"></progress>
            </li>
            <li>
                <label for="python"> Python: </label>
                <progress class="progress_bar" id="python" value="62" max="100" data-label="62%"></progress>
            </li>
            <li>
                <label for="web_development"> Web Development (HTML, CSS, JS): </label>
                <progress class="progress_bar" id="web_development" value="75" max="100" data-label="75%"></progress>
            </li>
        </ul>
    </section>
</section>